@import url("https://fonts.googleapis.com/css2?family=Nixie+One&family=Press+Start+2P&family=Roboto:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.dark {
  transition: all 400ms ease;
  background-color: #181a1b;
  color: #e8e6e3;
}

.dark a {
  color: #e8e6e3;
}

.dark button.rep-btn {
  background-color: #fff;
  color: #000;
}

.dark button.rep-btn:hover {
  background-color: #e8e6e3;
}

.dark footer {
  background-color: #0c0d0d;
}

.light {
  transition: all 400ms ease;
  background-color: #fff;
  color: #000;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 1em;
}
